<html>
<body>
<div>Messages</div>
{{#items}}
<div>
     <b>{{id}}</b>
     <span>{{name}}</span>
     <span>{{amount}}</span>
     <i>{{inventory_number}}</i>
     <i>{{withdrawal_quantity}}</i>
</div>
     {{/items}}
</body>
</html>